<h1 class="text-center">User features</h1>
<a class="btn btn-info" href="/users/login">Đăng nhập</a>
<a class="btn btn-info" href="/users/register">Đăng ký</a>

<hr>

<h1 class="text-center">Admin features</h1>
<a href="/products/add-brand" class="btn btn-warning">Add new brand</a>
<a href="/products/add-product" class="btn btn-warning">Add new product</a>

<hr>