<style>
    .card {
        display: inline-block;
        width: 15vw;
        height: 50vh;
        margin: 0.2vw;
        overflow: auto;
    }

    .card-img-top {
        height: 60%;
    }

    .card-body {
        height: 40%;
    }

    .card-title {
        height: 50%;
    }
</style>

<div class="container">
    <div class="row my-3">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">

            {{#each products}}
            <a href="/products/view-product?LDT_MA={{this.LDT_MA}}" class="text-dark">
                <div class="card text-center shadow">
                    <img src="{{ this.HA_URL }}" class="card-img-top" alt="abc">
                    <div class="card-body">
                        <p class="card-title h5">{{ this.LDT_TEN }}</p>
                        <p class="card-text">{{ this.LDT_GIA }}</p>
                    </div>
                </div>
            </a>
            {{/each}}

        </div>
    </div>
</div>
</div>