<style>
    .title {
        font-size: 3vw !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto msg"></div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto my-5">
            <h1 class="text-center title">Thêm nhà sản xuất</h1>
            <form class="shadow-lg p-5" id="frmAddBrand" name="frmAddBrand" action="/products/add-brand" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mã</label>
                    <input type="text" class="form-control" name="txtMa" id="txtMa">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tên</label>
                    <input type="text" class="form-control" name="txtTen" id="txtTen">
                </div>
                <button type="button" class="btn btn-primary form-control" id="btn-add">Thêm</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#frmAddBrand #btn-add').click(function () {
            $('.msg').empty();
            let txtMa = $('#txtMa').val();
            let txtTen = $('#txtTen').val();
            let isValidForm = true;
            if (txtMa.length === 0) {
                isValidForm = false;
                $('#txtMa').removeClass('is-valid').addClass('is-invalid');
                $('.msg').append(`
                    <div class="alert alert-danger" role="alert">
                        Vui lòng điền mã
                    </div>
                `);
            } else {
                $('#txtMa').removeClass('is-invalid').addClass('is-valid');
            }
            if (txtTen.length === 0) {
                isValidForm = false;
                $('#txtTen').removeClass('is-valid').addClass('is-invalid');
                $('.msg').append(`
                    <div class="alert alert-danger" role="alert">
                        Vui lòng điền tên
                    </div>
                `);
            } else {
                $('#txtTen').removeClass('is-invalid').addClass('is-valid');
            }
            if (!isValidForm) return;
            $.post(`/api/products/add-brand?txtMa=${txtMa}&txtTen=${txtTen}`,
                function (data, stt) {
                    console.log(data)
                    let { status, message } = data;
                    switch (status) {
                        case 'success':
                            $('.msg').html(`
                                <div class="alert alert-success" role="alert">
                                    ${message}
                                </div>
                            `);
                            break;
                        case 'error':
                            $('.msg').html(`
                                <div class="alert alert-danger" role="alert">
                                    ${message}
                                </div >
                            `);
                            break;
                    }
                });
        });
    });
</script>