<style>
    .title {
        font-size: 3vw !important;
    }
</style>

<div class="container">
    <form name="frmAddProduct" action="/products/add-product" method="POST" id="frmAddProduct"
        class="shadow-lg p-5 my-3" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{#if addStatus.err}}
                <div class="alert alert-danger text-center" role="alert">
                    Thêm thất bại, sản phẩm đã được thêm trước đây!
                </div>
                {{/if}}

                {{#if addStatus.success}}
                <div class="alert alert-success text-center" role="alert">
                    Thêm mới loại điện thoại thành công!
                </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-5">
                <label class="position-relative my-5" for="fHinhAnh" role="button">
                    <i class="d-none position-absolute fas fa-camera" id="camera-icon"></i>
                    <img id="phone-image" class="img-fluid border border-dark shadow-lg rounded"
                        src="/asset/images/placeholder-phone.png" alt="x">
                    <p class="text-center my-3" style="height: 0;">Chọn ảnh sản phẩm</p>
                </label>
            </div>
            <div class="col-md-7 mx-auto">
                <h1 class="text-center title bg-dark text-light rounded title">Thêm loại điện thoại</h1>
                <div class="shadow-lg p-5">
                    <div class="form-group">
                        <label for="txtMa">Mã</label>
                        <input type="text" class="form-control" name="txtMa" id="txtMa">
                    </div>
                    <div class="form-group">
                        <label for="txtTen">Tên</label>
                        <input type="text" class="form-control" name="txtTen" id="txtTen">
                    </div>
                    {{!-- nha san xuat --}}
                    <div class="form-group">
                        <label for="slNhaSanXuat">Nhà sản xuất</label>
                        <select class="custom-select" name="slNhaSanXuat" id="slNhaSanXuat">
                            <option value="">Choose...</option>
                            {{#each nhaSanXuatOptions}}
                            <option value="{{this.ma}}">{{this.ten}}</option>
                            {{/each}}
                        </select>
                    </div>

                    {{!-- tên chip --}}
                    <div class="form-group">
                        <label for="txtTenChip">Tên chip</label>
                        <input type="text" class="form-control" name="txtTenChip" id="txtTenChip">
                    </div>
                    {{!-- jack tai nghe --}}
                    <div class="form-group">
                        <label>Jack tai nghe</label>
                        <div class="form-check">
                            <label class="form-check-label mx-5">Có
                                <input checked type="radio" name="rdJackTaiNghe" id="rdJackTaiNghe-1" value="true">
                            </label>
                            <label class="form-check-label">Không
                                <input type="radio" name="rdJackTaiNghe" id="rdJackTaiNghe-2" value="false">
                            </label>
                        </div>
                    </div>
                    {{!-- loại pin --}}
                    <div class="form-group">
                        <label for="chkLoaiPin">Loại pin</label>
                        <div class="form-check">
                            <label class="form-check-label mx-5">Li-po
                                <input checked type="radio" name="rdLoaiPin" id="rdLoaiPin-1" value="li-ion">
                            </label>
                            <label class="form-check-label">Li-ion
                                <input type="radio" name="rdLoaiPin" id="rdLoaiPin-2" value="li-po">
                            </label>
                        </div>
                    </div>
                    {{!-- dung lượng pin --}}
                    <div class="form-group">
                        <label for="txtDungLuongPin">Dung lượng pin</label>
                        <input type="number" class="form-control" name="txtDungLuongPin" id="txtDungLuongPin">
                    </div>
                    {{!-- toc do sac --}}
                    <div class="form-group">
                        <label for="txtTocDoSac">Tốc độ sạc</label>
                        <input type="number" class="form-control" name="txtTocDoSac" id="txtTocDoSac" min="0">
                    </div>

                    {{!-- ram --}}
                    <div class="form-group">
                        <label for="txtDungLuongRAM">Dung lượng RAM</label>
                        <input type="number" class="form-control" name="txtDungLuongRAM" id="txtDungLuongRAM" min="0">
                    </div>
                    {{!-- rom --}}
                    <div class="form-group">
                        <label for="txtDungLuongROM">Dung lượng ROM</label>
                        <input type="number" class="form-control" name="txtDungLuongROM" id="txtDungLuongROM" min="0">
                    </div>
                    {{!-- cuong luc --}}
                    <div class="form-group">
                        <label for="txtThongTinCuongLuc">Thông tin cường lực</label>
                        <input type="text" class="form-control" name="txtThongTinCuongLuc" id="txtThongTinCuongLuc">
                    </div>
                    {{!-- gia mua --}}
                    <div class="form-group">
                        <label for="txtGiaMua">Giá mua vào</label>
                        <input type="number" class="form-control" name="txtGiaMua" id="txtGiaMua" min="0">
                    </div>
                    {{!-- gia ban --}}
                    <div class="form-group">
                        <label for="txtGia">Giá bán ra</label>
                        <input type="number" class="form-control" name="txtGia" id="txtGia" min="0">
                    </div>
                    {{!-- loai man hinh --}}
                    <div class="form-group">
                        <label>Loại màn hình</label>
                        <div class="form-check">
                            <label class="form-check-label">LCD
                                <input checked type="radio" name="rdLoaiManHinh" id="rdLoaiManHinh-1" value="LCD">
                            </label>
                            <label class="form-check-label mx-3">AMOLED
                                <input type="radio" name="rdLoaiManHinh" id="rdLoaiManHinh-2" value="AMOLED">
                            </label>
                            <label class="form-check-label">SUPER AMOLED
                                <input type="radio" name="rdLoaiManHinh" id="rdLoaiManHinh-3" value="SUPPER AMOLED">
                            </label>
                            <label class="form-check-label mx-3">OLED
                                <input type="radio" name="rdLoaiManHinh" id="rdLoaiManHinh-3" value="OLED">
                            </label>
                            <label class="form-check-label">Khác
                                <input type="radio" name="rdLoaiManHinh" id="rdLoaiManHinh-3" value="Không rõ">
                            </label>
                        </div>
                    </div>
                    {{!-- do phan giai --}}
                    <div class="form-group">
                        <label>Độ phân giải màn hình</label>
                        <select class="custom-select" name="slDoPhanGiai" id="slDoPhanGiai">
                            <option value="" selected>Choose...</option>
                            <option value="HD">HD</option>
                            <option value="HD+">HD+</option>
                            <option value="Full HD">Full HD</option>
                            <option value="Full HD+">Full HD+</option>
                            <option value="2K">2K</option>
                        </select>
                    </div>
                    <input type="file" class="d-none" name="fHinhAnh" id="fHinhAnh">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto">
                <textarea name="txtMoTa" class="w-100 d-block mx-auto" id="txtMoTa"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary p-3 d-block mx-auto mb-2 w-75">Thêm</button>
    </form>
</div>



{{!-- Using ckeditor --}}
<script src="/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('txtMoTa');
</script>

<script>
    $(function () {
        $('#phone-image')
            .css({
                'width': '30vw',
                'height': '60vh',
                'object-fit': 'contain'
            })
            .mouseenter(function () {
                $('#camera-icon')
                    .css({
                        "font-size": "70px",
                        "top": "50%",
                        "left": "50%",
                        "transform": "translate(-50%, -50%)"
                    })
                    .removeClass('d-none');
                $('#phone-image').css({
                    "opacity": "0.5",
                    "transition": "opacity 0.3s",
                });
            })
            .mouseleave(function () {
                $('#camera-icon').addClass('d-none');
                $('#phone-image').css({
                    "opacity": "1",
                    "transition": "opacity 0.3s"
                });
            });

        $('input[name="fHinhAnh"]')
            .change(function () {
                let reader = new FileReader();
                reader.onload = (event) => {
                    let url = event.target.result;
                    console.log(url)
                    $('#phone-image').attr('src', url);
                }
                reader.readAsDataURL(this.files[0]);
            });


        $('#frmAddProduct').submit(function (event) {
            let isMissValue = false;
            let errorValue = false;

            fields = [
                ma = $('#txtMa'),
                ten = $('#txtTen'),
                nhaSanXuat = $('#slNhaSanXuat'),
                tenChip = $('#txtTenChip'),
                jackTaiNghe = $('input[name=rdJackTaiNghe]:checked'),
                loaiPin = $('input[name="rdLoaiPin"]:checked'),
                dungLuongPin = $('#txtDungLuongPin'),
                tocDoSac = $('#txtTocDoSac'),
                DungLuongRAM = $('#txtDungLuongRAM'),
                DungLuongROM = $('#txtDungLuongROM'),
                thongTinCuongLuc = $('#txtThongTinCuongLuc'),
                giaMua = $('#txtGiaMua'),
                gia = $('#txtGia'),
                loaiManHinh = $('input[name=rdLoaiManHinh]:checked'),
                slDoPhanGiai = $('#slDoPhanGiai'),
                fHinhAnh = $('#fHinhAnh')
            ];
            for (field of fields) {
                if (field.val() === '') {
                    field.remove('is-valid');
                    field.addClass('is-invalid');
                    isMissValue = true;
                }
                else {
                    field.removeClass('is-invalid');
                    field.addClass('is-valid');
                };
            }
            if (+$('#txtGiaMua').val() === 0 || +$('#txtGia').val() === 0) {
                errorValue = true;
            }
            else if (+$('#txtGiaMua').val() >= +$('#txtGia').val()) {
                $('#txtGiaMua').removeClass('is-valid').addClass('is-invalid');
                $('#txtGia').removeClass('is-valid').addClass('is-invalid');
                errorValue = true;
            } else {
                $('#txtGiaMua').removeClass('is-invalid').addClass('is-valid');
                $('#txtGia').removeClass('is-invalid').addClass('is-valid');
            }
            console.log('>>', isMissValue, errorValue);
            if (isMissValue || errorValue) {
                event.preventDefault();
                return false;
                alert("Form không hợp lệ");
            }
        });
    });


</script>