<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto msg">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Thêm điện thoại</h1>
            <form class="my-3 shadow-lg p-5" id="frmAddUnit" name="frmAddUnit" action="/products/add-unit"
                method="POST">
                <div class="form-group">
                    <label>Tên điện thoại</label>
                    <select class="custom-select" name="slMa" id="slMa">
                        <option value="" selected>Choose...</option>
                        {{#each brands }}
                        <option value="{{ this.LDT_MA }}">{{ this.LDT_TEN }}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtTenDangNhap">IMEI</label>
                    <input type="text" name="txtIMEI" id="txtIMEI" class="form-control" placeholder="abc" id="email"
                        autocomplete="off">
                </div>
                <button type="button" class="btn btn-primary form-control btn-add">Thêm</button>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('.btn-add').click(function (event) {
            let inputs = [
                $('select[name="slMa"]'),
                $('input[name="txtIMEI"]')
            ];
            let hasEmptyField = false;
            for (let input of inputs) {
                if (input.val() === '') {
                    input.removeClass('is-valid');
                    input.addClass('is-invalid');
                    hasEmptyField = true;
                } else {
                    input.removeClass('is-invalid');
                    input.addClass('is-valid');
                }
            }
            if (!hasEmptyField) {
                let slMa = $('select[name="slMa"]').val();
                let txtIMEI = $('input[name="txtIMEI"]').val();
                $.post(`/api/products/add-unit?slMa=${slMa}&txtIMEI=${txtIMEI}`, (data, stt) => {
                    switch (data.status) {
                        case 'ERROR':
                            $('.msg').html(`
                                <div class="alert alert-danger" role="alert">
                                    IMEI <span class="font-weight-bold">${txtIMEI}</span> của sản phẩm đã được thêm
                                </div>
                            `);
                            console.log('err');
                            break;
                        case 'SUCCESS':
                            $('.msg').html(`
                                <div class="alert alert-success" role="alert">
                                    Thêm thành công IMEI <span class="font-weight-bold">${txtIMEI}</span>
                                </div>
                            `);
                            console.log('ok');
                            break;
                    }
                });
            }
        });
    });
</script>