<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm hóa đơn</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary d-none btn-show-bill" data-toggle="modal"
                    data-target="#exampleModal">
                    Xem hóa đơn
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-italic" id="exampleModalLabel">Chi tiết hóa đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bill-content">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success w-100" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="msg-field">

        </div>
        <div class="row">
            <div class="col-4 shadow-lg p-5">
                <i>Các sản phẩm đã thêm:</i>
                <ol id="added-list">

                </ol>
            </div>
            <div class="col-8 mx-auto">
                <h1 class="text-center h1" style="font-size: 3vw !important;">Thêm hóa đơn bán ra</h1>
                <form action="#" name="frmAddBill" id="frmAddBill" method="POST" class="shadow-lg p-5" novalidate>
                    <div class="form-group">
                        <label>Thời gian:</label>
                        <script>
                            const now = new Date();
                            m = now.getMonth() + 1;
                            d = now.getDate();
                            y = now.getFullYear();
                            // fill 0 for valid format input:date value
                            d = ('00' + d).substr(-2);
                            m = ('00' + m).substr(-2);
                            y = ('0000' + y).substr(-4);
                            document.write(`<input type="date" name="txtThoiGian" class="form-control" id="txtThoiGian" value="${y}-${m}-${d}" disabled>`);
                        </script>
                    </div>
                    <div class="form-group">
                        <label>Người nhập:</label>
                        <script>
                            function getCookie(cname) {
                                var name = cname + "=";
                                var decodedCookie = decodeURIComponent(document.cookie);
                                var ca = decodedCookie.split(';');
                                for (var i = 0; i < ca.length; i++) {
                                    var c = ca[i];
                                    while (c.charAt(0) == ' ') {
                                        c = c.substring(1);
                                    }
                                    if (c.indexOf(name) == 0) {
                                        return c.substring(name.length, c.length);
                                    }
                                }
                                return "";
                            }
                            const username = getCookie('username');
                            document.write(`<input type="text" name="txtNguoiNhap" class="form-control" id="txtNguoiNhap" value="${username}" disabled>`)
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="txtMaHoaDon">Mã hóa đơn:</label>
                        <input type="text" name="txtMaHoaDon" id="txtMaHoaDon" class="form-control" value="mahoadon">
                    </div>
                    <div class="form-group">
                        <label>Tên điện thoại:</label>
                        <div class="d-flex">
                            <select name="slMaLoaiDienThoai" id="slMaLoaiDienThoai" class="custom-select w-75" />
                            {{#each products }}
                            <option value="{{ this.LDT_MA }}">{{ LDT_TEN }}</option>
                            {{/each}}
                            </select>
                            <input type="number" name="txtSoLuong" class="form-control w-25" id="txtSoLuong"
                                placeholder="Số lượng..." min="1" />
                            <button type="button" class="btn btn-success d-block ml-3" id="btn-add">+</button>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary form-control btn-send">Thêm hóa
                        đơn</button>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        $(function () {
            // Handle event click add product to bill field
            $('#btn-add').click(function () {
                let nb = +$('#txtSoLuong').val();
                let id = $('#slMaLoaiDienThoai').val();
                let inner = $(`#slMaLoaiDienThoai option[value='${id}']`).html();
                if ($('#added-list').children(`li[data-ma="${id}"]`).length === 0) {
                    $('#added-list').append(
                        `<li data-ma="${id}" data-soLuong="${nb}">
                            <button type="button" class="btn btn-sm btn-danger btn-unselect rounded-circle">&times;</button>
                            <b>${inner}</b>
                            <span class="badge badge-info">${nb}</span>
                        </li>`
                    );
                } else {
                    let soluongOld = +$(`li[data-ma="${id}"]`).attr('data-soLuong');
                    $(`li[data-ma="${id}"]`)
                        .attr('data-soLuong', `${soluongOld + nb}`)
                        .html(`<button type="button" class="btn btn-sm btn-danger btn-unselect rounded-circle">&times;</button>
                            <b>${inner}</b>
                            <span class="badge badge-info">${soluongOld + nb}</span>`);
                }
            });

            $(document).on('click', '.btn-unselect', function () {
                $(this).parents('li').remove();
            });

            $('#frmAddBill .btn-send').click(function () {
                let isValid = true;
                let maHoaDon = $('#txtMaHoaDon').val();
                let billProductIDs = [];
                let billProductNbs = [];

                if (maHoaDon === '') {
                    $('#txtMaHoaDon').removeClass('is-valid').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#txtMaHoaDon').removeClass('is-invalid').addClass('is-valid');
                }
                if ($('#added-list').children().length === 0) {
                    $('#added-list').parent().css({
                        'outline': 'solid 1px red'
                    });
                    isValid = false;
                } else {
                    $('#added-list').parent().css({
                        'outline': 'solid 1px green'
                    });
                }
                // Loop through bill field to get all ma and soLuong
                $.each($('#added-list li'), function () {
                    billProductIDs.push($(this).attr('data-ma'));
                    billProductNbs.push($(this).attr('data-soLuong'));
                });
                /*
                console.log({
                    billID: maHoaDon,
                    billProductIDs: billProductIDs.join(),
                    billProductNbs: billProductNbs.join(),
                    typerName: $('#txtNguoiNhap').val(),
                    time: $('#txtThoiGian').val()
                });
                */
                if (isValid) {
                    // console.log('hd hop le');
                    $.post('/api/products/add-bill',
                        {
                            billID: maHoaDon,
                            billProductIDs: billProductIDs.join(),
                            billProductNbs: billProductNbs.join(),
                            typerName: $('#txtNguoiNhap').val(),
                            time: $('#txtThoiGian').val()
                        },
                        async function (data, status) {
                            switch (data.result) {
                                case 'ERROR':
                                    $('#msg-field').html(
                                        `<div class="alert alert-danger" role="alert">
                                            Thêm thất bại, ${data.message}
                                        </div>`
                                    );
                                    break;
                                case 'OK':
                                    $('#msg-field').html(
                                        `<div class="alert alert-success" role="alert">
                                            Thêm thành công, ${data.message}
                                        </div>`
                                    );
                                    // show modal
                                    let billContentInner = '<table class="table">';
                                    billContentInner += '<thead class="thead-dark"><tr><th>Tên và đơn giá</th><th>Số lượng mua</th></tr></thead>';
                                    let total = 0;
                                    for (let i = 0; i < billProductIDs.length; i++) {
                                        console.log(`/api/products/getByLDT_MA?LDT_MA=${billProductIDs[i]}`);
                                        let info = await axios
                                            .get(`/api/products/getByLDT_MA?LDT_MA=${billProductIDs[i]}`)
                                            .then(res => res.data);
                                        let discountedPrice = info.LDT_GIA - info.LDT_GIA * info.CTKM_HE_SO;
                                        billContentInner += `<tr>
                                            <td>${info.LDT_TEN} (${discountedPrice.toLocaleString('vi')}/cái):</td>
                                            <td>${billProductNbs[i]} cái</td>
                                        </tr>`;
                                        total += discountedPrice * billProductNbs[i];
                                    }
                                    billContentInner += '</table>';
                                    billContentInner += `<b>Tổng cộng</b>: ${total.toLocaleString('vi')} VND`;
                                    $('.bill-content').html(billContentInner);
                                    $('.btn-show-bill').click();

                                    // clear
                                    $('#added-list').empty();
                                    $('#frmfrmAddBill #txtMaHoaDon').val('');
                                    break;
                            }
                        }
                    );
                } else {
                    console.log('Hoa don khong hop le');
                }
            });
        });
    </script>
</body>

</html>