<style>
    .container {
        min-height: 80vh;
    }

    .title {
        font-size: 5vw !important;
    }

    .statistic-presenter {
        position: absolute;
        left: 0;
        width: 100vw !important;
        overflow: auto;
    }
</style>

<div class="container-fluid">
    <div class="row my-5">
        <div class="col-12">
            <h1 class="text-center title">Thống kê năm</h1>
            <div class="statistic-presenter d-block m-0 mx-auto shadow-lg"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(function () {
        let nowYear = +new Date().getFullYear();
        let nowMonth = +(new Date().getMonth() + 1);
        let nowDate = +(new Date().getDate() + 1);

        nowMonth = 12;
        nowYear = 2020;

        $.get(`/api/products/bill?year=${nowYear}`, (data, status) => {
            let tongTienNhan = {};
            let tongVon = {};

            for (let i = 1; i <= nowMonth; i++) {
                for (let unit of data) {
                    [billYear, billMonth, billDate] = unit.HDB_THOI_GIAN.split('-');
                    if (+billMonth === i) {
                        tongVon[i] = +unit.LDT_GIA_MUA;
                        tongTienNhan[i] = +unit.LDT_GIA;
                    }
                }
                tongVon[i] = tongVon[i] || 0;
                tongTienNhan[i] = tongTienNhan[i] || 0;
            }
            let detail = [['Thang', 'Tien von', 'Tien thu', 'Loi nhuan']];
            for (let i = 1; i <= nowMonth; i++) {
                detail.push([
                    `${i}`,
                    tongVon[i],
                    tongTienNhan[i],
                    tongTienNhan[i] - tongVon[i]
                ]);
            }
            /////
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable(detail);

                var options = {
                    title: `Biểu đồ thống kê lợi nhuận năm ${nowYear}`,
                    hAxis: {
                        title: 'Tháng',
                        titleTextStyle: {
                            color: '#333'
                        }
                    },
                    vAxis: {
                        title: 'Tiền (VNĐ)',
                        minValue: 0
                    }
                };

                var chart = new google.visualization.AreaChart(document.querySelector('.statistic-presenter'));
                chart.draw(data, options);
            }
            /////
        });
    });
</script>